<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="future-page min-h-full flex flex-col justify-between  md:p-6 border border-solid border-amber-600">
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto">
         @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-20 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
       
    </div>

    <!-- Events Cards Container -->
     <div class="eventsList-container border border-solid border-red-700 w-full  m-t-6">
        @for(card of newsCard; track $index){
         <div class="evento-card border border-solid border-amber-950 w-[60%] h-fit m-auto mt- p-4">
          <h3 class="font-semibold text-lg"> {{card.titolo_evento}}</h3>
         <div class=" w-[47%] mt-1 text-gray-600  p-1  justify-between align-middle border border-solid border-red-600">    
            <div class="tipologia-evento flex">
               <p class="tipology ">{{card.tipologia}}</p>
             <p class="locality">{{card.localita}}</p> 

            </div>
             
             <div class="orario-evento w-fit flex border border-solid border-blue-700">
                <p class="data">{{card.data}}</p>
             <p class="dataEvent  bg-amber-600 text-white pl-1 pr-1 rounded-md">{{card.orario_evento}}</p>

             </div>
            
         </div>
        <p class=" mt-2 text-base">{{card.descrizione_evento}}</p>

        </div>

        }
        
       
     </div>
   

    <router-outlet></router-outlet>  
</section>
