<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="future-page min-h-full flex flex-col justify-between  md:p-6 border border-solid border-amber-600">
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto">
         @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-15 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
       
    </div>

    <!-- Events Cards Container -->
     <div class="eventsList-container border border-solid border-red-700 w-full  m-t-6">
        @for(card of newsCard; track $index){
         <div class="evento-card border border-solid border-gray-400 w-[60%] h-fit m-auto mt-4 p-4 rounded-md">
          <h3 class="font-semibold text-lg"> {{card.titolo_evento}}</h3>
         <div class=" w-[40%] mt-1 text-gray-600  p-1 flex justify-between  align-middle ">    
           
               <p class="tipology  ">{{card.tipologia}}</p>
             <p class="locality">{{card.localita}}</p> 
             <p class="data">{{card.data}}</p>
             <p class="dataEvent  bg-amber-600 text-white pl-1 pr-1 mr-2 rounded-md">{{card.orario_evento}}</p>

             
            
         </div>
        <p class=" mt-2 text-small">{{card.descrizione_evento}}</p>

        </div>

        }
        
       
     </div>

     <nav class="paginationNav-container m-auto mt-4 ">
      <ul class="pagination flex ">
         <li>
            <a href="" class="prev-btn  px-2 py-2 rounded-l-sm  border border-solid border-gray-500  hover:text-white">Previous</a>
         </li>
           <li>
            <a href="" class="number-btn  px-3 py-2  border border-gray-500  ">1</a>
         </li>
         <li>
            <a href=""  class="number-btn  px-3 py-2  border border-gray-500  ">2</a>
         </li>
         <li>
            <a href=""  class="number-btn  px-3 py-2  border border-gray-500  ">3</a>
         </li>
         <li>
            <a href=""  class="number-btn   px-3 py-2  border border-gray-500 ">4</a>
         </li>
         <li>
            <a href="" class="next-btn   px-2 py-2 rounded-r-sm border border-gray-500 hover:bg-amber-600 hover:text-white">Next</a>
         </li>
       
      </ul>
     </nav>
     <!-- <nav class="mt-4 m-auto">
  <ul class="flex -space-x-px text-sm">
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-s-base text-sm px-3 h-9 focus:outline-none">Previous</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">1</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center text-fg-brand bg-neutral-tertiary-medium box-border border border-default-medium hover:text-fg-brand font-medium text-sm w-9 h-9 focus:outline-none">3</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">4</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-9 h-9 focus:outline-none">5</a>
    </li>
    <li>
      <a href="#" class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-e-base text-sm px-3 h-9 focus:outline-none">Next</a>
    </li>
  </ul>
</nav> -->
   

    <router-outlet></router-outlet>  
</section>
