

.search-bar {
    /* da sistemare per renderlo responsive */
    width:20%;
    height:43%;
    margin-left:20%;
}
.search-input{
    width:85%;
    padding-left:2%;
}
.search-btn{
    width:13%;
    margin-left: 2px;
}
.search-icon {
    margin:auto;
}

.post-form, .newUser-form{
    border:3px solid blue;
    background-color: grey;
    z-index: 80;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}
.closedBtn:hover{
    background-color: orange;
    color:white;
    cursor:pointer;
}

.search-btn:hover,
.search-icon:hover,
.favorite-icon:hover,
.new-btn:hover,
.userIcon-btn:hover{
    cursor:pointer;
}
