
 /* MODIFICARE LE GRANDEZZE A SECONDA DELLE DIMENSIONI DELLO SCHERMO  */

.login-page{
     width: 100%; 
}

.login-container{
    width: 80%;
    height: 80%;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
   display: flex;
}
.login-image-container{
    width: 50%;

}
.login-image-container .image-rectangle {
    height:100%; 
    position: relative;
    margin-left: 15% 
}

.login-image-container .image-rectangle img{
    height: 100%;
}
.login-image-text{
    width:90%;
    bottom:5%;
    left:5%;
    font-size:28px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}
.login-form-container{
    width: 50%;
    position: relative;
}

.logo-container{
    width: 30%;
    height:fit-content;
    z-index: 5;
    position:absolute;
    right:85%
   
}
.formGroup-container{
    width: 55%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.form-title{
    width: fit-content;
    margin: auto;
    font-size: 40px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    font-style: normal;
}
.login-form{
    height: 80%;
   margin-top: 25px;
}
.login-form label {
    margin-top: 30px;
    font-size: 15px
}

.login-form p {
   text-align: center;
   margin-top: 15px;
}
.login-form input{
    margin-top: 5px;
    padding-left: 10px;
}
.login-form .login-btn {
     margin-top: 30px;
    font-size: 15px

}

.login-form .register-btn {
    margin-top: 20px;
    font-size: 15px;

}

.login-form .login-btn:hover, 
.login-form .register-btn:hover {
    cursor:pointer
}

