<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="history-page min-h-screen flex flex-col justify-between p-4 md:p-6">
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto  ">
                  @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-20 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
    </div>

    <!-- Cities Cards Container -->
     <div class="cultureItems-conatiner w-full border border-solid border-amber-600">
        <h3>LISTA DI ITEMS </h3>
        <div class="card-container">
            <!-- <h4>Nome oggetto </h4>
            <p>categoria</p>
            <p>epoca</p>
            <p>tipologia</p>
            <p>comune e cap</p>
            <p>abstract</p>
            <p>descrizione</p> -->
        </div>
        @for(card of  itemsCard; track $index){
            <div class="card border border-solid border-amber-600">
                <h4>{{card.denominazione}}</h4>
                <p> Nome categoria: {{card.categoria}}</p>
            </div>
        }
     </div>
     <app-paginator ></app-paginator>
    <router-outlet></router-outlet>     
</section>