<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">


<section class="history-page min-h-screen flex flex-col justify-between p-4 md:p-6">
    
    <!-- Carousel -->
    <div class=" carousel-container w-[45%] h-[24%] mx-auto  ">
                  @if (characters.length > 0) {
                      <app-carousel [carousel]="characters"></app-carousel>
                } @else {
                   <div class="text-center mt-20 text-lg italic text-shadows-md font-small text-black">Loading...</div>
                } 
    </div>

    <!-- Cities Cards Container -->
     
    <router-outlet></router-outlet>     
</section>