 .sidebar-container{
    width:8vw;
    height:100%;
    background-color:rgba(233, 227, 218, 1);
    transition: width 0.3s;
    &.closed{
        width: 3vw;
        .menu-icon{
            width:40%;
             margin-left:50%; 
            margin-top: 30px; 
            margin-right:5px;
        }
        .logo-container  { 
            border:1px solid red;
            width:90%;
            height:8%;
            background-image: url('/assets/images/logoImg.png');
            background-size:contain;
            background-position:center;
            background-repeat:no-repeat

        }
        ul{
            width: 100%;
           display: inline-grid;
           justify-content: center;
        }
        li{
            width:fit-content;
        }
         span{
            display:none;   
        }
        ul li img{
            width:2vw;
            margin-top:10px
        }
        ul li a{
            width:fit-content;
        }
        .setting-log-container{
            border:1px solid blue;
            width:fit-content;
            margin-top:70%;
            a{
                border:1px solid yellow;
                width:fit-content;
            }
            img{
                border:1px solid red;
                width:60%;
            }
        }
       
    }
    
}
.sidebar-content{
    width:100%;
    height:90%;   
} 
.logo-container{
    border:1px solid blue;
    width:90%;
    height:20px;
    /* margin-top:30px; */
    background-image:url('/assets/images/logo-blackGold.png');
    background-size:contain;
    background-repeat:no-repeat;
    margin:20px auto;
   
}
.logo-container img {
   
}

.menu-icon {
     width: 15%;
    margin-left: 80%;
    margin-top: 30px; 
    
}
.menu-icon img {
    width: 100%;
}


.sections-container {
    width:100%;
    height:fit-content;
    text-align: end;
    margin-top: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.sections-container ul{
    width:95%;
    height:fit-content;
}


.sections-container li {
    /* border:1px solid red; */
    width:100%;
    margin-top:10%;
    display:inline-flex;  
    border-radius: 5px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.sections-container a {
    /* border:1px solid yellow; */
    width:100%;
    height:100%;
    display:inline-flex;
     align-items: center;
    font-size:16px;
    text-align:left;
    margin-left:5px
}
.sections-container img{
    width:19%;
    margin-right:5px;

}

.setting-log-container{
    /* border:1px solid blue; */
     text-align:center;
    width:100%;
    margin-top:70%; 
    font-size:15px;
   
}
.setting-log-container a{
    /* border:1px solid white; */
    display:inline-flex;
    align-items:center;
    justify-content:center;
    font-size:15px;
}

.settingsBtn-container{
   /* border:1px solid red; */
    width:100%;
    display:inline-flex;
     align-items:center;
    justify-content:center; 
    padding-top:2%;
}
.settingsBtn-container span{
    width:fit-content;
    margin-left:2%;

}
.settingsBtn-container img,
.log-btn-container img{
    width:25%
}

.log-btn-container{
    /* border:1px solid black; */
   margin-top:10%
}

.menu-icon:hover,
.sections-container li:hover,
.settingsBtn-container:hover,
.log-btn-container:hover{
    cursor:pointer;
   
}
.sections-container li:hover,
.sections-container li img:hover{
     background-color: #e66a0c;
     color:#ffffff;
}


 


