<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=distance" />

<section class=" spaziCulturali-page min-h-full flex flex-col justify-between  md:p-6 border border-red-700">


    <div class="cit-container w-[45%] h-[24%vh] mx-auto border border-blue-600">Citazione</div>

    <div class="placeCard-conatiner w-full h-[80vh]  m-auto rounded-md border border-gray-300   relative">   
       <div #map class="map-container w-full h-full  absolute"></div>
    </div>

   
</section>


